---
const pageTitle = "About Me";

const identity = {
  firstName: "Joe",
  location: "Phoenix, Arizona",
  occupation: "Software Developer",
  hobbies: ["woodworking", "reading", "hiking"]
};
const skills = ["Ruby", "Rails", "SQL", "HTML", "CSS", "JavaScript"];
const finished = false;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>Joe King's Portfolio</h1>
    <h1>{pageTitle}</h1>
    <h2>And my tech journey</h2>
    <p>Here are a few facts about me: </p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>I live in {identity.location} and I am a {identity.occupation} </li>

      {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    {finished && <p>I am finished</p>}
	</body>
</html>
