---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Project from '../../components/Project.astro';

export async function getStaticPaths() {
  const allProjects = await Astro.glob('../projects/*.md');

  const uniqueSkills = [...new Set(allProjects.map((project) => project.frontmatter.skills).flat())];


  return uniqueSkills.map((skill) => {
    const filteredProjects = allProjects.filter((project) => project.frontmatter.skills.includes(skill));
    return {
      params: { skill },
      props: { projects: filteredProjects },
    };
  });
}

const { skill } = Astro.params;
const { projects } = Astro.props;
---

<BaseLayout pageTitle={skill}>
  <p>Posts tagged with {skill}</p>
  <ul>
    {projects.map((project) => <Project url={project.url} title={project.frontmatter.title} image={project.frontmatter.image}/>)}
  </ul>
</BaseLayout>
